:root {
    --grid-border-color: #9e6c00;
}

/* General styling */

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ------------------------------- */

body {
    background-color: #101018;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #cccccc;
}

header, footer {
    text-align: center;
    margin: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    table {
        border-collapse: collapse;
        font: inherit;
        font-size: 5rem;
    }
    
    tr:nth-of-type(1) td,
    tr:nth-of-type(2) td {
        border-bottom: 0.4rem solid var(--grid-border-color);

        &:nth-child(2) {
            border-left: 0.4rem solid var(--grid-border-color);
            border-right: 0.4rem solid var(--grid-border-color);
        }
    }
    
    tr:nth-of-type(3) td:nth-of-type(2) {        
        border-left: 0.4rem solid var(--grid-border-color);
        border-right: 0.4rem solid var(--grid-border-color);
    }

    td {
        text-align: center;
        height: 8rem;
        width: 6rem;
        cursor: default;
        text-shadow: #1e27a0;
        
        &.empty {
            cursor: pointer;
        }

        &.X {
            color: #8f2323;
        }

        &.O {
            color: #1e27a0;
        }
    }
}